@model IEnumerable<Practica_14_02_2024.Models.Comprador>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <!-- Vincula tu hoja de estilos -->
    <link href="~/css/indexcomprador.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>Compradores</h1>

<p class="create">
    <a asp-action="Create">Create New</a>
</p>
<div class="primarycontainer">
@foreach (var item in Model) {
    <div class="userContainer">
                <div>
                    <b>Nombre:</b>
                @Html.DisplayFor(modelItem => item.Nombre)
                </div>
                <div>
                    <b>
                        Telefono:
                    </b>
                @Html.DisplayFor(modelItem => item.Telefono)
                </div>
                <div>
                    <b>
                        Correo:
                    </b>
                @Html.DisplayFor(modelItem => item.Correo)
               </div>
               <div>
                   <b>
                        Imagen Establecida:
                  </b>
                @{ 
                    var urlPath = Html.DisplayFor(modelItem => item.URLpath);
                }
                <img src="@urlPath" alt="Descripción de la imagen">
               </div>
               <div>
                    <b>Estado del comprador:</b>
                    @Html.DisplayFor(modelItem => item.Activo)
               </div>
               <div>
                    <b>Fecha de registro:</b>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
               </div>
               <div class="container-buttons">
                       <a class="edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="details" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a class="delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
                
        </div>
}
</div>
</body>