@model Practica_14_02_2024.Models.OrdenCompra

@{
    ViewData["Title"] = "Details";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <!-- Vincula tu hoja de estilos -->
    <link href="~/css/details.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>Detalles de orden de compra</h1>

<div>
    <hr />
     <div class="dataContainer">

       <!--------------------------------------------->
        <div class="group">
           <label>
                    @Html.DisplayNameFor(model => model.Proyecto)
           </label>
           <span>
                    @Html.DisplayFor(model => model.Proyecto)
           </span>
           <hr />
        </div>

       <!--------------------------------------------->
        <div class="group">
           <label>       @Html.DisplayNameFor(model => model.Status)
           </label>
           <span>
                    @Html.DisplayFor(model => model.Status)
           </span>
           <hr />
        </div>
         <!--------------------------------------------->
        <div class="group">
           <label>      
                    @Html.DisplayNameFor(model => model.NoConsecutivo)
           </label>
           <span>
                    @Html.DisplayFor(model => model.NoConsecutivo)
           </span>
           <hr />
        </div>
         <!--------------------------------------------->
        <div class="group">
           <label>      
                    @Html.DisplayNameFor(model => model.Referencia)
           </label>
           <span>
                    @Html.DisplayFor(model => model.Referencia)
           </span>
           <hr />
        </div>
         <!--------------------------------------------->
        <div class="group">
           <label>      
                    @Html.DisplayNameFor(model => model.FechaRegistro)
           </label>
           <span>
                    @Html.DisplayFor(model => model.FechaRegistro)
           </span>
           <hr />
        </div>
         <!--------------------------------------------->
</div>
<div>
    <a class="btnEdit" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btnBack" asp-action="Index">Back to List</a>
</div>
</body>