@model IEnumerable<Practica_14_02_2024.Models.OrdenCompra>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <!-- Vincula tu hoja de estilos -->
    <link href="~/css/indexcomprador.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>Index</h1>

<p class="create">
    <a asp-action="Create">Create New</a>
</p>
<div class="primarycontainer">

@foreach (var item in Model) {
            <div class="userContainer">
                    <div>
                        <b>
                            Telefono:
                        </b>
                @Html.DisplayFor(modelItem => item.Proyecto)

                    </div>
                    <div>
                        <b>
                            Estado de orden de compra:
                        </b>
                @Html.DisplayFor(modelItem => item.Status)
                   </div>
                   <div>
                       <b>
                            Numero consecutivo:
                      </b>
                @Html.DisplayFor(modelItem => item.NoConsecutivo)
                   </div>
                   <div>
                        <b>Referencia:</b>
                @Html.DisplayFor(modelItem => item.Referencia)
                   </div>
                   <div>
                        <b>Fecha de registro:</b>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
                   </div>
                   <div class="container-buttons">
                    <a class="edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a  asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a class="details" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    </div>
            </div>
}

</div>
</body>
